{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	</div>
{% endfor %}

<h1>Add Patient</h1>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form action='' method="POST">
		{{ form.hidden_tag() }}

        {{ form.Doctor.label(class="form-label") }}
		{{ form.Doctor(class="form-control") }}
		<br/>

        {{ form.Patient.label(class="form-label") }}
		{{ form.Patient(class="form-control") }}
		<br/>

		{{ form.Date.label(class="form-label") }}
		{{ form.Date(class="form-control") }}
		<br/>

		{{ form.Time.label(class="form-label") }}
		{{ form.Time(class="form-control") }}
		<br/>
		
		{{ form.Submit(class="btn btn-primary") }}
		<a href="{{ url_for('appointment')}}" class="btn btn-secondary">Back</a>

	</form>
</div>

{%  endblock %}