{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	</div>
{% endfor %}

<h1>Add Doctor</h1>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form action='' method="POST">
		{{ form.hidden_tag() }}

        {{ form.firstname.label(class="form-label") }}
		{{ form.firstname(class="form-control") }}
		<br/>

        {{ form.lastname.label(class="form-label") }}
		{{ form.lastname(class="form-control") }}
		<br/>

		{{ form.number.label(class="form-label") }}
		{{ form.number(class="form-control") }}
		<br/>

		{{ form.address.label(class="form-label") }}
		{{ form.address(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-primary") }}
		<a href="{{ url_for('doctor')}}" class="btn btn-secondary">Back</a>

	</form>
</div>

{%  endblock %}