{% extends 'base.html' %}
{% block title %}
  HMS
{% endblock %}

{% block content %}
    <h1 style="text-align: center; font-size:80px;font-family:serif">Hospital Management System</h1>
    <div class="text-center"style="position: relative;top:200px;font-family:serif">
      <a  class="btn btn-primary"style='height:100px;width:400px;font-size:30px' href="{{ url_for('patient') }}">Manage Patients</a>
      <a  class="btn btn-primary" style='height:100px;width:400px;font-size:30px'href="{{ url_for('doctor') }}">Manage Doctors</a>
      <a  class="btn btn-primary"style='height:100px;width:400px;font-size:30px' href="{{ url_for('appointment') }}">Manage Appointments</a>
    </div>
{% endblock %}