{% extends 'base.html' %}
{% block title %}
HMS
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}


<h1 style="text-align: center; font-size:80px;">Manage Patients</h1>
<a type="button" href="{{ url_for('addpatient') }}" style="float:right;position: relative;top:-60px;right:250px" class="btn btn-secondary btn-lg">Add Patient </a>
<div class="row" style="margin-top:100px; margin-left:20px;margin-right:40px;">
      <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            {% include 'includes/prescription_info.html' %}
                <tr>
                    <td>{{ item.First_Name }}</td>
                    <td>{{ item.Last_Name }}</td>
                    <td>{{ item.Email }}</td>
                    <td>{{ item.Number }}</td>
                    <td>{{ item.Address }}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#Modal-Prescriptioninfo-{{ item.id }}">Prescription Info</button>
                        <a class="btn btn-secondary btn-sm" href="{{ url_for('update_patient',id=item.id) }}" >Update</a>
                        <a class="btn btn-secondary btn-sm" href="{{ url_for('deletepatient',id=item.id) }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}