{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}


<h1>Update Patient</h1>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form action="/updatepatient/{{ patientupdate.id }} " method="POST">
		{{ form.hidden_tag() }}

		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control", value=patientupdate.Email) }}
		<br/>

		{{ form.number.label(class="form-label") }}
		{{ form.number(class="form-control", value=patientupdate.Number) }}

		<br/>

		{{ form.address.label(class="form-label") }}
		{{ form.address(class="form-control", value=patientupdate.Address) }}
		<br/>
		
		{{ form.prescription.label(class="form-label") }}
		{{ form.prescription(class="form-control", value=patientupdate.Prescription_info) }}

		<br/>
		
		{{ form.submit(class="btn btn-primary") }}
		<a href="{{ url_for('patient')}}" class="btn btn-secondary">Back</a>

	</form>
</div>

{%  endblock %}