<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/videocall.css">
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><img src="static/live.png" class="active"></li>
                <li><img src="static/video.png"></li>
                <li><img src="static/message.png"></li>
                <li><img src="static/setting.png"></li>
            </ul>
        </nav>
        <div class="container">
            <div class="top-icons">
                <img src="static/search.png">
                <img src="static/menu.png">
            </div>
            <div class="row">
                <div class="col-1">
                <img src="static/image.png" class="host-img">
                <div class="controls">
                    <img src="static/chat.png">
                    <img src="static/disconnect.png">
                    <img src="static/call.png" class="call-icon">
                    <img src="static/mic.png">
                    <img src="static/cast.png">
                
    
                </div>
            </div>
            
            
            
                    
            
        </div>
        </div>
    </div>
    
</body>
</html>